#{{ ansible_managed }}
Protocol 2
SyslogFacility AUTHPRIV

LoginGraceTime 2m
{% if common_production_env %}
PermitRootLogin without-password
{% else %}
PermitRootLogin yes
{% endif %}
MaxAuthTries 6

IgnoreRhosts yes
PermitEmptyPasswords no
PasswordAuthentication yes
ChallengeResponseAuthentication no
GSSAPIAuthentication no

UsePAM yes

X11Forwarding no
PrintMotd no

AcceptEnv XMODIFIERS
{% if ansible_os_family == "Debian" %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% endif %}
{% if ansible_os_family == "RedHat" %}
Subsystem sftp /usr/libexec/openssh/sftp-server
{% endif %}
